@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.navbar {
    display: flex;
    height: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Atur ukuran dan warna bayangan sesuai kebutuhan */
}

.navbar-brand {
    display: flex;
    font-weight: bold;
    color: #5eb1e6 !important;
}

.navbar-nav .nav-link {
    display: flex;
    padding: 15px 10px;
    /* Contoh mengatur padding link navbar */
}

.nav-tabs .nav-link.active {
    background-color: #5eb1e6 !important;
    color: #007bff;
}

.custom-bg {
    background-color: #5eb1e6 !important;
}

.image-header {
    position: relative;
    overflow: hidden;
}

.image-header img {
    width: 100%;
    height: auto;
}

.image-header .text {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #f8f9fa;
    text-align: center;
    padding: 10px;
}

.image-header .text h3 {
    text-align: right;
    font-size: 4em;
    margin-bottom: 10px;
}

.image-header .text p {
    font-size: 1em;
    color: #f8f9fa;
    text-align: right;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #5eb1e6;
    border-color: #5eb1e6;
}

.card {
    border-radius: 15px;
    /* Menambahkan border radius pada card */
    transition: transform 0.2s;
}

.text-primary {
    color: #5eb1e6;
    /* Mengatur warna teks menjadi biru sesuai dengan kelas .text-primary dari Bootstrap */
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    /* Menyesuaikan tinggi gambar */
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #f8f9fa;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

/* Custom Styles */
.contact-bg {
    height: 65vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url(../img/kontak_header.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: #5eb1e6;
    border-radius: 5px;
}

.line {
    display: flex;
    align-items: center;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #5eb1e6;
    border-radius: 50%;
}

.text {
    font-weight: 300;
    opacity: 0.9;
}

.contact-bg .text {
    margin: 1.6rem 0;
}

.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

.contact-info span {
    display: block;
}

.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #5eb1e6;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .text {
    padding-top: 0.4rem;
}

.contact-quotes {
    padding: 2rem 0;
}

.contact-quotes div {
    padding-bottom: 1rem;
}

.contact-quotes div {
    width: 100%;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    outline: 0;
}

.quotes:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-quotes div div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.contact-quotes > div img {
    width: 50%;
}

.contact-quotes > div {
    margin: 0 auto;
    text-align: center;
}

.contact-footer {
    padding: 2rem 0;
    background: #000;
}

.contact-footer h3 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}

.social-links a:hover {
    color: #5eb1e6;
    border-color: #5eb1e6;
}

@media screen and (min-width: 700px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-bg .text {
        width: 50%;
    }
    .contact-quotes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}

.image-header {
    position: relative;
    overflow: hidden;
}

.image-header img {
    width: 100%;
    height: auto;
}

.image-header .text {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #f8f9fa;
    text-align: center;
    padding: 10px;
}

.image-header .text h3 {
    text-align: right;
    font-size: 4em;
    margin-bottom: 10px;
}

.image-header .text p {
    font-size: 1em;
    color: #f8f9fa;
    text-align: right;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #5eb1e6;
    border-color: #5eb1e6;
}

.card {
    border-radius: 15px;
    /* Menambahkan border radius pada card */
    transition: transform 0.2s;
}

.text-primary {
    color: #5eb1e6;
    /* Mengatur warna teks menjadi biru sesuai dengan kelas .text-primary dari Bootstrap */
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    /* Menyesuaikan tinggi gambar */
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #f8f9fa;
}
